
@{
    Layout = "~/Areas/Areas/Views/Shared/_Layout.cshtml";
}
<div style="margin:10px;">
    <a class="layui-btn" href="/Areas/Category/Add">
        <i class="layui-icon layui-icon-add-1"></i>
        添加
    </a>
    <div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>添加时间</th>
                    <th align="center">操作</th>
                </tr>
            </thead>
            <tbody>

                @foreach (hunzi.Blog.Model.AdminModel item in ViewBag.List)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Nickname</td>
                        <td>@item.CreateDate</td>
                        <td>
                            <a href="/Areas/Category/Add/@item.Aid"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                            <a href="javascript:viod()0" onclick="Del(@item.Aid)"><i class="layui-icon layui-icon-delete"></i>删除</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>

    function Del(id) {
        layui.use(['layer'], function () {
            var layer = layui.layer, $ = layui.jquery;
            var url = "/Areas/User/Delete/" + id;
            layer.confirm('是否确认删除?', function () {
                $.post(url, function (mse) {
                    layer.alert(mse, function () { location.reload() });
                })

            })
        });
    };
</script>

